//custom up here


// Background Color
$base-background: #fff;

// Colors
$blue:         #3498db;
$light-blue:   lighten($blue, 20%);
$dark-gray:    #333;
$medium-gray:  #999;
$light-gray:   #DDD;
$red:          #e74c3c;
$light-red:    lighten($red, 20%);
$yellow:       #f1c40f;
$light-yellow: lighten($yellow, 20%);
$green:        #2ecc71;
$light-green:  lighten($green, 20%);

