// bootstrap overrides
.container-full {
  margin: 0 auto;
  width: 100%;
  float: left;
}
.container,
.container-full{
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top:10px;
	padding-bottom:20px;
}