html {
  font-size: 62.5%; /* Sets up the Base 10 stuff */
}
body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; // Fix the character spacing for headings
  color: $base-font-color;
  font-family: $base-font-family;
  @include font-size(1.6);
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
  line-height: $header-line-height;
  margin: 0;
  // text-rendering: optimizeLegibility; // Fix the character spacing for headings
  width: 100%;
  float: left;
}

h1 {
  @include font-size($h1); 
  margin:0.6em 0;
}

h2 {
  @include font-size($h2);
  margin:0.5em 0;
  font-weight: 500;
}

h3 {
  @include font-size($h3);
  margin:0.4em 0;
}

h4 {
  @include font-size($h4);
  margin:0.3em 0;
}

h5 {
  @include font-size($h5);
  margin:0.2em 0;
}

h6 {
  @include font-size($h6);
  text-decoration:uppercase;
  margin:0.1em 0;
}

p {
  margin: 0 0 ($base-line-height * .5);
  padding-left: 0px;
  float: left;
  line-height: 1.5em;
}


a { 
  transition: color 0.1s;
  color: $base-link-color;
  text-decoration: none;
  word-wrap: break-word;

  &:hover {
    color: $hover-link-color;
  }

  &:active, &:focus, &:visited {
    color: $hover-link-color;
    outline: none;
  }
}
