// or use bourbon
// @include clearfix;


.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

//grid
.pull-right{
	float: right !important;
}
.pull-left{
	float: left !important;
}

//typography 
.text-center{
  text-align: center;
}
.text-white{
  color: white;
}

//mobile
.mobile-display{
	display: none;
	@include media(hand){
		display: block;
	}
}

.sr-only,
.screen-reader-text {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}