// then apply a background-color 
.ui_bg-blue{
	background-color: $light-blue;
}
.ui_bg-blurry-img{
	background: url(http://www.tripwiremagazine.com/wp-content/uploads/2013/05/7.jpg);
	background-size: cover;
}