//default
%btn{
	border: none;
	background: $blue;
	color: #fff !important;
	font-family: $sans-serif;
	transition: background $speed;
	cursor: pointer;
	margin: 5px;
	text-transform: uppercase;
	letter-spacing: 2px;
	&:hover{
		background: lighten($blue, 20%);
	}
	&:active{
		background: darken($blue, 20%);
	}
}
//custom
button,
input[type='submit'],
.ui_btn,
.ui_btn-sm
.ui_btn-md
.ui_btn-lg{
	@extend %btn;
}
.ui_btn, .ui_btn-md{
	@extend %btn;
	padding: 15px 30px;
	// border-bottom: 3px solid darken($blue, 20%);
	@include font-size(1.6);
	margin-top: .5em;
	display: inline-block
}
.ui_btn-lg{
	@extend %btn;
	padding: 15px 30px;
	// border-bottom: 3px solid darken($blue, 20%);
	@include font-size(2.0);
	height: 5.5rem;
}
.ui_btn-sm{
	@extend %btn;
	padding: 5px 10px;
	// border-bottom: 3px solid darken($blue, 20%);
	@include font-size(1.2);
	height: 3.0rem;
}
.ui_btn-pill{
	border-radius: 185px;
}